.white-background{
    -fx-background-color: #fff;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.top-background{
    -fx-background-color: #fff;
    -fx-border-style: hidden hidden solid hidden;
}

.add_top-background{
        -fx-background-color: linear-gradient(#00EFD1, #00ACEA);
}

.add-background{
    -fx-background-color: #E4ECEF;
}

.input{
    -fx-text-fill: #191717;
    -fx-border-color: linear-gradient(to bottom left, #00EFD1, #00ACEA);
    -fx-font-size: 15px;
    -fx-border-width: 1.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.add-button{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-text-fill: #fff;
    -fx-background-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-background-color: linear-gradient(to bottom left, #00EFD1, #00ACEA);
    -fx-pref-width: 90px;
    -fx-pref-height: 35px;
}

.translate-button{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-text-fill: #fff;
    -fx-background-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-background-color: linear-gradient(to bottom left, #00ACEA, #00EFD1);
}

.title{
     -fx-background-color: linear-gradient(#00ACEA, #00EFD1);
     -fx-effect: dropshadow(three-pass-box, #8c7ae6, 10, 0, 0, 0);
     -fx-background-radius: 5;
     -fx-border-radius: 5;
}

.translate_title{
     -fx-background-color: linear-gradient(to top right, #00ACEA, #00EFD1);
     -fx-effect: dropshadow(three-pass-box, #8c7ae6, 10, 0, 0, 0);
     -fx-background-radius: 5;
     -fx-border-radius: 5;
}

.definition-wrapper{
    -fx-border-width: 1.5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #4f2258, 4, 0, 0, 1.5) ;
}

.explain-field{
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 0;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
}

.all_button{
    -fx-padding:0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #f8f8f8;
    -fx-border: none;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, #718093, 2, 0, 0, 1) ;
}

.root{
     -fx-background-color: linear-gradient(to top right,#00EFD1, #00ACEA);
     -fx-background-radius: 5;
     -fx-border-radius: 5;
}

.menu-item{
     -fx-background-color: transparent;
     -fx-text-fill: #000000;
     -fx-background-radius: 10;
     -fx-padding: 0 0 0 10;
     -fx-background-insets: 0;
}
.menu-item:hover,
.menu-item:focused{
     -fx-background-color: #00ACEA;
}
